/* Main Layout */
body {
  margin: 0;
  margin-top: 55px;
  background-color: grey;
}

#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

/* Header */
#header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  background-color: purple;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#header nav {
  height: 100%;
}

#header ul {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

#header li {
  display: inline;
  margin-right: 30px;
}

#header li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16pt;
}

#header img {
  height: 45px;
}

#profile {
  border-radius: 25px;
}

.login {
  display: flex;
  padding: 8px 18px;
  border-radius: 10px;
  background-color: #5865f2;
  align-items: center;
}

img#discord {
  height: 18px;
  padding-right: 5px;
}

/* Profile */
#servers {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 390px 390px;
  padding: 0 4px;
}

.card {
  border: 1px solid black;
  width: 100%;
}


