mixin header(headerInfo)
  div#header-container
    div#header
      nav
        ul
          li
            a(href="/")
              img#logo(src="/img/logo.png")
          li
            a(href="/search") Search
          li
            a(href="/news") News
      nav
        ul
          if (headerInfo.profile)
            li
              a(href="/profile")
                img#profile(src=headerInfo.profile)
          else
            li
              a.login(href=`https://discord.com/api/oauth2/authorize?client_id=${headerInfo.clientId}&redirect_uri=${headerInfo.redirectUrl}&response_type=code&scope=guilds%20identify`)
                img#discord(src="img/discord.svg")
                span Login