mixin header(loggedin, profile)
  div#header-container
    div#header
      nav
        ul
          li
            a(href="/")
              img#logo(src="img/logo.png")
          li
            a(href="/search") Search
          li
            a(href="/news") News
      nav
        ul
          if (loggedin)
            li
              a(href="/profile")
                img#profile(src=profile)
          else
            li
              a.login(href="https://discord.com/api/oauth2/authorize?client_id=1025493075243585587&redirect_uri=http%3A%2F%2Flocalhost%3A55555%2Flogin&response_type=code&scope=guilds%20identify")
                img#discord(src="img/discord.svg")
                span Login