include ./header.pug
include ./servercard.pug

doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
  body
    div#content
      div#servers
        each server in servers
          +card(server)
    +header(header) // Always display last
